@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


.open-sans-import {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-style: bold;
    font-variation-settings:
      "wdth" 100;
  }
  .open-sans-flat {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-variation-settings:
      "wdth" 100;
    text-align: center;
  }
  .open-sans-link {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    display: flex;
    justify-self: center;
    font-variation-settings:
      "wdth" 100;
    align-content: center;
    justify-content: center;
  }

.header{
    width: 100%;
    height: 7%;
    display:flex;
    justify-content: center;
}

.body{
width: 100%;
height: 600px;

}

#gamespace{
    width: 24.5vw;
    height: 60vh;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#infoSpace{
    width: 500px;
    height: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

p{
    text-align: center;
}
.edge{
    height: 10px;
    width: 100px;
    margin-block: 0px;
    margin-inline: 3px;
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #000;

  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.black{
    background-color: black;
}

.movePlaceholder{
    height: 20%;
    width: 4%;
    top: 100%;
    margin-inline: 3px;
    border-radius: 100%;
    border-width: 0;
    color: #000;

  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.column{
    position: relative;
    width: 10px;
    height: 90px;
    margin-inline: 3px;

    border-radius: 8px;
    border-width: 0;
    margin: 0;
    color: #000;

  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-block: 10px;
}
